# Git Changelog

{{#tags}}

## {{name}}

	{{#issues}}
		{{#hasLink}}

### {{name}} [{{issue}}]({{link}}) {{title}}
	 	{{/hasLink}}
		{{^hasLink}}
### {{name}}
		{{/hasLink}}
		{{#commits}}
- **`{{hash}}`** [{{authorName}}]({{authorEmailAddress}}) {{commitTime}}  
{{messageTitle}}
{{#messageBodyItems}}
	{{.}}
{{/messageBodyItems}}
		{{/commits}}
	{{/issues}}
{{/tags}}
